.banner {
    position: relative;    
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 30px 330px
}

.banner_image {
    position: relative;
}

.banner_title {
    width: 630px;

    position: absolute;
    z-index: 1;
    top: 110px;
    left: 60px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    .banner_title_promo{
        background-color: orangered;
        border-radius: 8px;
    }
    .banner_text {
        margin-top: 30px;
        position: absolute;
        z-index: 1;
        font-size: 18px;
        font-weight: 400;
    }
}